<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
   <!-- <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>-->
    <script src="/javascripts/signup.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>


   <!-- <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top nav-bar">
    <a class="navbar-brand" href="#">
        <b>The quiz taker</b>

    </a>

    <div class="navbar-collapse collapse navbar-responsive-collapse">


        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="container">



    <!-- Registration form - START -->

    <div class="container">
        <div class="row">
            <div>
                <div class="col-lg-6"><br/><br/><br/>

                    <div class="form-group">
                        <label for="InputName">Enter Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control"  name="InputName" id="InputName" placeholder="Enter Name" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Enter Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Enter Email" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputMessage">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                   <button  id="submit1" class="btn btn-info pull-right">Submit</button>

                </div>
            </div>





        </div>
    </div>
    <!-- Registration form - END -->


</div>
<button id="farzan">fdfdf</button>
</body>
</html>